{{!-- Contributions Page Template --}}
<div class="contributions-container">
  <header class="contributions-header">
    <h1>コントリビューション</h1>
  </header>
  <div class="contributions-list">
    {{#each contributions}}
      <article class="contribution-item">
        <a href="{{url}}" class="contribution-link">
          <h2 class="contribution-title">{{title}}</h2>
        </a>
      </article>
    {{else}}
      <p>コントリビューションがありません。</p>
    {{/each}}
  </div>
</div>