{{> header}}
<main>
  <h1>検索結果</h1>
  <div class="search-results">
    {{#each results}}
      <div class="result-item">
        <h3><a href="{{url}}">{{title}}</a></h3>
        <p>{{snippet}}</p>
      </div>
    {{/each}}
  </div>
</main>
{{> footer}}