<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-links">
        <a href="/hc/ja">ヘルプセンター</a>
        <a href="{{settings.back_to_website_url}}">Webサイト</a>
        <a href="/hc/ja/signin">ログイン</a>
      </div>
      <div class="footer-copyright">
        © {{current_year}} {{help_center.name}}. All rights reserved.
      </div>
    </div>
  </div>
</footer>