<nav class="nav" role="navigation">
  <div class="nav-wrapper">
    <div class="nav-left">
      <a href="{{help_center.url}}" class="nav-logo">
        {{help_center.name}}
      </a>
    </div>
    <div class="nav-right">
      <a href="{{settings.back_to_website_url}}" class="nav-link">
        Webサイトへ戻る
      </a>
      <a href="{{settings.contact_url}}" class="nav-button">
        お問い合わせ
      </a>
    </div>
  </div>
</nav>